

/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/service_slider/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/specialist_slider/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/prices/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/pricelist/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/choose_program/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/review_slider/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/at_1c_landing/components/bitrix/news.list/news_slider/style.css?1448260925116*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/map.yandex.system/templates/.default/style.css?1417430358666*/
div.bx-yandex-map {color: black; font-size: 11px;}
div.bx-yandex-map div.YMaps-b-balloon-content {color: black; font-size: 11px;}
div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td {
	padding: 0px !important;
}


div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td textarea{
	font-size: 11px;
}


div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td.YMaps-b-balloon-b {
	background-image: none !important;
}

/* End */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/service_slider/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/specialist_slider/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/prices/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/pricelist/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/choose_program/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/review_slider/style.css?1448260925116 */
/* /bitrix/templates/at_1c_landing/components/bitrix/news.list/news_slider/style.css?1448260925116 */
/* /bitrix/components/bitrix/map.yandex.system/templates/.default/style.css?1417430358666 */
